<div class="flex flex-col w-full">
    <mat-toolbar>
        <span class="ml-1 text-[20px]">Database Influencer</span>
    </mat-toolbar>
    <div class="flex p-4 w-full">
        <div class="flex flex-col justify-between w-full">
            <form class="flex flex-col justify-center w-full  bg-card rounded-2xl shadow">
                <div class="bg-card m-4 p-4 rounded-md overflow-auto">
                    <div class="flex  gap-3 mb-3">
                        <div class="flex">
                            <mat-form-field class="flex-initial w-120">
                                <mat-icon class="text-gray-400" svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
                                <input matInput placeholder="ค้นหา">
                            </mat-form-field>
                        </div>

                        <div class="flex-initial">
                            <mat-form-field class=" flex-auto  gt-xs:pl-3 w-50 ">
                                <mat-select [placeholder]="'จำนวนผู้ติดตาม'" class="">
                                    <mat-option value="000-000-0000">Nano < 10,000</mat-option>
                                            <mat-option value="000-000-0032">Micro < 100,000 </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="flex-initial ">
                            <mat-form-field class=" flex-auto  gt-xs:pl-3 w-50 ">
                                <mat-select [placeholder]="'ช่องทางออนไลน์'" class="">
                                    <mat-option value="000-000-0000">Facebook</mat-option>
                                    <mat-option value="000-000-0032">Instagram </mat-option>
                                    <mat-option value="000-000-0043">TikTok</mat-option>
                                    <mat-option value="000-000-0056">Twitter</mat-option>
                                    <mat-option value="000-000-0078">Youtube</mat-option>
                                    <mat-option value="000-000-8500">Blog</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex justify-end flex-initial gap-3 w-full ">
                            <button class=" h-12 w-40 text-white rounded-xl shadow-sm bg-[#C23339] hover:bg-red-900"
                                (click)="gotoAaddriver()">
                                <div class="flex justify-center">
                                    <mat-icon class="text-white" svgIcon="heroicons_outline:plus-circle"></mat-icon>
                                    <p class="mt-1 ml-2">
                                        เพิ่ม Influencer
                                    </p>
                                </div>
                            </button>
                        </div>
                    </div>
                    <table class="w-full mt-10" style="width: 100%" datatable [dtOptions]="dtOptions"
                        class="row-border hover">
                        <thead class="bg-gray-50  mt-10 w-full whitespace-nowrap" style="width: 100%">
                            <tr>

                                <th class="text-center">จัดการ</th>
                                <th>No</th>
                                <th class="w-30">ประเภท Follower</th>
                                <th>Name Account</th>
                                <th>TikTok Name</th>
                                <th>Link Tiktok</th>
                                <th>Follower Tiktok</th>
                                <th>เพศ</th>
                                <th>อายุ</th>
                                <th>อาชีพ</th>
                                <th>ประเภทคอนเทนต์</th>
                                <th>ชื่อบัญชี</th>
                                <th>เลขที่บัญชี</th>
                                <th>ธนาคาร</th>
                                <th>ชื่อตามบัตรประจำตัวประชาชน</th>
                                <th>เลขบัตรประชาชน</th>
                                <th>ที่อยู่ตามหน้าบัตรประจำตัวประชาชน</th>
                                <th>ที่อยู่จัดส่งสินค้ารีวิว</th>
                                <th>เบอร์ติดต่อ</th>
                                <th>ID Line</th>
                                <th>สำเนาหน้าบัตรประชาชน</th>
                                <th>สำเนาหน้าบุ๊คแบงค์</th>
                                <th>เคยทำงาน </th>
                                <th>หมายเหตุ </th>
                            </tr>
                        </thead>
                        <!-- <tbody *ngIf="dataRow?.length != 0">
                                <tr *ngFor="let item of dataRow; let i = index"> -->
                        <tbody class="whitespace-nowrap">
                            <tr>
                                <!-- <td>{{ pages.begin + (i + 1) }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.gender }}</td>
                                    <td>{{ item.age }}</td>
                                    <td>{{ item.occupation }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.province }}</td>
                                    <td>{{ item.facebookname }}</td>
                                    <td>{{ item.facebook }}</td>
                                    <td>{{ item.follower }}</td>
                                    <td>{{ item.typefb }}</td>
                                    <td>{{ item.cost }}</td>
                                    <td>{{ item.accountname }}</td>
                                    <td>{{ item.number }}</td>
                                    <td>{{ item.bank }}</td>
                                    <td>{{ item.namecard }}</td>
                                    <td>{{ item.IDcard }}</td>
                                    <td>{{ item.address }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>{{ item.IDline }}</td>
                                    <td>{{ item.copy }}</td>
                                    <td>{{ item.work }}</td> -->
                                <td>
                                    <button mat-icon-button color="gray" matTooltip="บล็อกอินฟลู">
                                        <mat-icon>not_interested</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)=" editElement()">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)=" pdfname()">
                                        <mat-icon>picture_as_pdf</mat-icon>
                                    </button>
                                </td>
                                <td>1</td>
                                <td class="w-30 whitespace-nowrap">Nano Tiktok</td>
                                <td class="w-30 whitespace-nowrap">Name Account</td>
                                <td class="w-30 ">Tiktok Name</td>
                                <td>https://www.tiktok.com/</td>
                                <td>100K</td>
                                <td>Female</td>
                                <td>21 ปี</td>
                                <td>นักศึกษา</td>
                                <td>บิ้วตี้</td>
                                <td>11111111</td>
                                <td>Test</td>
                                <td>
                                    <span class="rounded-lg bg-green-700 text-white text-center p-2">KBank</span></td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                        <!-- <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="4" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody> -->
                    </table>

                    <div class="flex justify-end">
                        <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
                        </mat-paginator>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>